.btn {
  border: none;
  color: #84ACCE;
  // font-weight: bold;
  background: white;
  transition-duration: 0.2s;
  font-size: 2.5em;
  // padding: 15px;
  // padding-left: 35px;
  // width: 150px;
  // border-bottom-left-radius: 25px;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  z-index: 3;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition-duration: 0.3s;
}

.active {
  transform: rotate(45deg);
  background: #84ACCE;
  color: rgb(0, 12, 100);
}